@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-toastify/dist/ReactToastify.css';

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg border font-medium inline-flex items-center justify-center tracking-tight;
  }

  .btn-primary {
    @apply bg-black text-white;
  }

  .btn-text {
    @apply text-black bg-transparent;
  }

  .section-title {
    @apply text-center text-3xl md:text-[54px] md:leading-[80px] font-bold tracking-tighter bg-gradient-to-b from-black to-[#001E80] text-transparent bg-clip-text;
  }

  .section-subtitle {
    @apply text-center text-[20px] md:text-[54px] md:leading-[60px] font-bold tracking-tighter bg-gradient-to-b from-black to-[#001E80] text-transparent bg-clip-text;
  }

  .section-description {
    @apply text-center text-[22px] leading-[30px] tracking-tight text-[#111111];
  }

  .section-heading {
    @apply max-w-[548px] mx-auto;
  }

  .card {
    @apply p-10 border border-[#222222]/10 rounded-3xl shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full;
  }

  .gradient-mask {
    mask-image: linear-gradient(
      to bottom,
      transparent,
      black 25%,
      black 75%,
      transparent
    );
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent,
      black 25%,
      black 75%,
      transparent
    );
  }

  @layer components {
    .spinner {
      @apply border-2 border-t-4 border-t-white border-gray-200 rounded-full w-5 h-5 animate-spin;
    }
  
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }  
}

 /* Custom scrollbar styles */
  .custom-scrollbar::-webkit-scrollbar {
    padding: 2%;
    width: 8px; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    padding: 20px;
    background-color: rgba(60, 60, 60, 0.6); /* Scrollbar color */
    border-radius: 4px;
  }

  /* Slider */
  .slider {
    @apply w-full appearance-none h-2 bg-gray-200 rounded-lg outline-none cursor-pointer;
  }

  .slider-thumb {
    @apply w-5 h-5 bg-blue-600 transition-colors duration-300;
  }

  .slider-track {
    @apply h-2 bg-gray-300 rounded-lg;
  }

  input[type="range"] {
    @apply w-full appearance-none h-2 bg-gray-200 rounded-lg outline-none cursor-pointer;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply w-4 h-4 rounded-lg -mt-1 bg-blue-600 transition-colors duration-300;
    -webkit-appearance: none;
  }

  input[type="range"]::-moz-range-thumb {
    @apply w-4 h-4 rounded-lg -mt-1 bg-blue-600 transition-colors duration-300;
  }

  input[type="range"]::-ms-thumb {
    @apply w-4 h-4 rounded-lg -mt-1 bg-blue-600 transition-colors duration-300;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    @apply h-2 bg-gray-300 rounded-lg;
  }

  input[type="range"]::-moz-range-track {
    @apply h-2 bg-gray-300 rounded-lg; 
  }

  input[type="range"]::-ms-track {
    @apply h-2 bg-gray-300 rounded-lg; 
  }

  .slider-label {
    @apply absolute top-0 flex justify-between text-xs text-gray-600 w-full;
  }

  .illuminated {
    animation: glow 0.5s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      color: #ffffff; /* Blanco */
      text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
    }
    to {
      color: rgba(0, 30, 128, 0.09); /* Gris transparente */
      text-shadow: 0 0 20px rgba(192, 192, 192, 0.5), 0 0 30px rgba(192, 192, 192, 0.5), 0 0 40px rgba(192, 192, 192, 0.5); /* Sombra gris */
    }
  }
  
  